html {
    font-size: 62.5%;
}

body {
}

a {
    color: inherit;
    text-decoration: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    overflow-x: hidden;

    font-family: "Poppins", sans-serif;
}
